/* Variables (варианты цветов)*/
:root  {
	--basic-bleck: #000000;
	--basic-white: #ffffff;
	--basic-neutral: #EEEEEE;
	}
	
	/* Global (главные стили)*/
	body {
		min-width: 1460px;
		margin: 0;
		padding: 0;
		font-family: Roboto, Arial, sans-serif;
	
		font-size: 16px;
		line-height: 24px;
		font-weight: normal;
		color: #000;
	}

	/*Меню*/
	a  {
	text-decoration: none;
	}
	
	.nav  {
		font-size: 16px;
		line-height: 30px;
		text-transform: uppercase;
		color: var(--basic-bleck);
		background-color: var(--basic-neutral);
	}

	.site-nav  {
		list-style: none;
	}
	

